.DS_Store
._*
.Rhistory
annotation/
reference/
logs/
simulation/
.snakemake/
.Renviron
difficult_novel_exon_examples/
igv_session*
*.RData
scripts/.snakemake*
test_novel_exons/
test_reduce_gtf/
pipeline/test_BAM_junctions/
pipeline/*.html
*.Rhist
.Rproj.user
SRR3192428/
